---
import { Demo } from './default-block-content.gjs';
---

<html>
  <body>
    <h1>Example: Default Block Content</h1>

		<fieldset><legend>Demo</legend>
			<Demo client:only="ember">
				block content <strong>here</strong>
			</Demo>
		</fieldset>

  </body>
</html>
