<html>
  <body>
    <h1>Examples</h1>

		<nav>
			<a href="/examples/props">Props</a>
			<a href="/examples/default-block-content">Default Block Content</a>
			<a href="/examples/nested-components">Nested Components</a>
			<a href="/examples/named-slots">Named Slots</a>
		</nav>

<style>
	nav {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
</style>

  </body>
</html>
