---
import { Static } from './props.gjs';

---

<html>
  <body>
    <h1>Example: Props</h1>

		<fieldset><legend>Static</legend>
			<Static client:only="ember" greeting="Hello" who="World" />
		</fieldset>

  </body>
</html>
