---
import HelloWorld from '../components/demo.gjs';
---

<html>
  <body>
    <h1>Use Ember components directly in Astro!</h1>

		<nav>
			<a href="/examples">Examples</a>
		</nav>

		<fieldset><legend>components/demo.gjs</legend>
			<HelloWorld client:only="ember" />
		</fieldset>
  </body>
</html>
